ulises-goffline/Web/App_WebReferences/ServiciosCD40/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://CD40.es/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://CD40.es/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://CD40.es/">
      <s:element name="Commit">
        <s:complexType />
      </s:element>
      <s:element name="CommitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CommitResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Rollback">
        <s:complexType />
      </s:element>
      <s:element name="RollbackResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RollbackResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataSetSelectSQL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="t" type="tns:Tablas" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Tablas" abstract="true">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="InsertedId" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="HistoricoIncidencias">
        <s:complexContent mixed="false">
          <s:extension base="tns:Tablas">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="IdIncidencia" type="s:unsignedInt" />
              <s:element minOccurs="0" maxOccurs="1" name="IdSistema" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Scv" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="IdHw" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="TipoHw" type="tns:Tipo_Elemento_HW" />
              <s:element minOccurs="1" maxOccurs="1" name="FechaHora" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="Reconocida" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:simpleType name="Tipo_Elemento_HW">
        <s:restriction base="s:string">
          <s:enumeration value="TEH_TOP" />
          <s:enumeration value="TEH_TIFX" />
          <s:enumeration value="TEH_EXTERNO_RADIO" />
          <s:enumeration value="TEH_EXTERNO_TELEFONIA" />
          <s:enumeration value="TEH_SISTEMA" />
          <s:enumeration value="TEH_GRABADOR" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="Incidencias">
        <s:complexContent mixed="false">
          <s:extension base="tns:Tablas">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="IdIncidencia" type="s:unsignedInt" />
              <s:element minOccurs="1" maxOccurs="1" name="IdIncidenciaCorrectora" type="s:unsignedInt" />
              <s:element minOccurs="0" maxOccurs="1" name="Incidencia" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="GeneraError" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="Oid" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Operadores">
        <s:complexContent mixed="false">
          <s:extension base="tns:Tablas">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="IdOperador" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="IdSistema" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Clave" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="NivelAcceso" type="s:unsignedInt" />
              <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Apellidos" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Telefono" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="FechaUltimoAcceso" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="Comentarios" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="TimeoutSesion" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="SesionActiva" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="SesionEstado" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="LogProcesos">
        <s:complexContent mixed="false">
          <s:extension base="tns:Tablas">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="PID" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="IdSistema" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="FechaHora" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="FechaHoraLeido" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Activo" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Configuraciones">
        <s:complexContent mixed="false">
          <s:extension base="tns:Tablas">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Conf_Edicion" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Tipo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="DataSetSelectSQLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DataSetSelectSQLResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListSelectSQL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="t" type="tns:Tablas" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListSelectSQLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListSelectSQLResult" type="tns:ArrayOfTablas" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTablas">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Tablas" nillable="true" type="tns:Tablas" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertSQL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="t" type="tns:Tablas" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertSQLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertSQLResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateSQL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="t" type="tns:Tablas" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateSQLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateSQLResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteSQL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="t" type="tns:Tablas" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteSQLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteSQLResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GeneraDatosControlBackup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id_sistema" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="datosBackup" type="tns:DatosControlBackup" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DatosControlBackup">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="NomRecursoHistoricos" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NomRecursoIndicadores" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Profundidad" type="tns:ArrayOfUnsignedInt" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfUnsignedInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="unsignedInt" type="s:unsignedInt" />
        </s:sequence>
      </s:complexType>
      <s:element name="GeneraDatosControlBackupResponse">
        <s:complexType />
      </s:element>
      <s:element name="RecuperarDatosControlBackup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id_sistema" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperarDatosControlBackupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RecuperarDatosControlBackupResult" type="tns:DatosControlBackup" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GeneraIncidenciaConfiguracion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id_sistema" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="idIncidencia" type="s:unsignedInt" />
            <s:element minOccurs="0" maxOccurs="1" name="arrParametros" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GeneraIncidenciaConfiguracionResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetIdEsquema">
        <s:complexType />
      </s:element>
      <s:element name="GetIdEsquemaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetIdEsquemaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CommitSoapIn">
    <wsdl:part name="parameters" element="tns:Commit" />
  </wsdl:message>
  <wsdl:message name="CommitSoapOut">
    <wsdl:part name="parameters" element="tns:CommitResponse" />
  </wsdl:message>
  <wsdl:message name="RollbackSoapIn">
    <wsdl:part name="parameters" element="tns:Rollback" />
  </wsdl:message>
  <wsdl:message name="RollbackSoapOut">
    <wsdl:part name="parameters" element="tns:RollbackResponse" />
  </wsdl:message>
  <wsdl:message name="DataSetSelectSQLSoapIn">
    <wsdl:part name="parameters" element="tns:DataSetSelectSQL" />
  </wsdl:message>
  <wsdl:message name="DataSetSelectSQLSoapOut">
    <wsdl:part name="parameters" element="tns:DataSetSelectSQLResponse" />
  </wsdl:message>
  <wsdl:message name="ListSelectSQLSoapIn">
    <wsdl:part name="parameters" element="tns:ListSelectSQL" />
  </wsdl:message>
  <wsdl:message name="ListSelectSQLSoapOut">
    <wsdl:part name="parameters" element="tns:ListSelectSQLResponse" />
  </wsdl:message>
  <wsdl:message name="InsertSQLSoapIn">
    <wsdl:part name="parameters" element="tns:InsertSQL" />
  </wsdl:message>
  <wsdl:message name="InsertSQLSoapOut">
    <wsdl:part name="parameters" element="tns:InsertSQLResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSQLSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateSQL" />
  </wsdl:message>
  <wsdl:message name="UpdateSQLSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateSQLResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSQLSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteSQL" />
  </wsdl:message>
  <wsdl:message name="DeleteSQLSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteSQLResponse" />
  </wsdl:message>
  <wsdl:message name="GeneraDatosControlBackupSoapIn">
    <wsdl:part name="parameters" element="tns:GeneraDatosControlBackup" />
  </wsdl:message>
  <wsdl:message name="GeneraDatosControlBackupSoapOut">
    <wsdl:part name="parameters" element="tns:GeneraDatosControlBackupResponse" />
  </wsdl:message>
  <wsdl:message name="RecuperarDatosControlBackupSoapIn">
    <wsdl:part name="parameters" element="tns:RecuperarDatosControlBackup" />
  </wsdl:message>
  <wsdl:message name="RecuperarDatosControlBackupSoapOut">
    <wsdl:part name="parameters" element="tns:RecuperarDatosControlBackupResponse" />
  </wsdl:message>
  <wsdl:message name="GeneraIncidenciaConfiguracionSoapIn">
    <wsdl:part name="parameters" element="tns:GeneraIncidenciaConfiguracion" />
  </wsdl:message>
  <wsdl:message name="GeneraIncidenciaConfiguracionSoapOut">
    <wsdl:part name="parameters" element="tns:GeneraIncidenciaConfiguracionResponse" />
  </wsdl:message>
  <wsdl:message name="GetIdEsquemaSoapIn">
    <wsdl:part name="parameters" element="tns:GetIdEsquema" />
  </wsdl:message>
  <wsdl:message name="GetIdEsquemaSoapOut">
    <wsdl:part name="parameters" element="tns:GetIdEsquemaResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiciosCD40Soap">
    <wsdl:operation name="Commit">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Restaura la copia de la base de datos sobre la base de datos original</wsdl:documentation>
      <wsdl:input message="tns:CommitSoapIn" />
      <wsdl:output message="tns:CommitSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Rollback">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Recupera la última activa como base de datos de gestíón</wsdl:documentation>
      <wsdl:input message="tns:RollbackSoapIn" />
      <wsdl:output message="tns:RollbackSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DataSetSelectSQL">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retorna un DataSet con los registros que cumplan con la clave pasada en &lt;t&gt;</wsdl:documentation>
      <wsdl:input message="tns:DataSetSelectSQLSoapIn" />
      <wsdl:output message="tns:DataSetSelectSQLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListSelectSQL">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retorna una Tablas[] con los registros que cumplan con la clave pasada en &lt;t&gt;. Si la SELECT no devuelve ningún registro, el array estará vacío</wsdl:documentation>
      <wsdl:input message="tns:ListSelectSQLSoapIn" />
      <wsdl:output message="tns:ListSelectSQLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertSQL">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retorna el número de registros insertados o un número negativo cuyo valor absoluto indica el código de excepción en caso de error</wsdl:documentation>
      <wsdl:input message="tns:InsertSQLSoapIn" />
      <wsdl:output message="tns:InsertSQLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSQL">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retorna el número de registros actualizados o un número negativo cuyo valor absoluto indica el código de excepción en caso de error. No actualiza las claves.</wsdl:documentation>
      <wsdl:input message="tns:UpdateSQLSoapIn" />
      <wsdl:output message="tns:UpdateSQLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSQL">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retorna el número de registros eliminados o un número negativo cuyo valor absoluto indica el código de excepción en caso de error.</wsdl:documentation>
      <wsdl:input message="tns:DeleteSQLSoapIn" />
      <wsdl:output message="tns:DeleteSQLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GeneraDatosControlBackup">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Genera los datos de backup para históricos e indicadores</wsdl:documentation>
      <wsdl:input message="tns:GeneraDatosControlBackupSoapIn" />
      <wsdl:output message="tns:GeneraDatosControlBackupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RecuperarDatosControlBackup">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Genera los datos de backup para históricos e indicadores</wsdl:documentation>
      <wsdl:input message="tns:RecuperarDatosControlBackupSoapIn" />
      <wsdl:output message="tns:RecuperarDatosControlBackupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GeneraIncidenciaConfiguracion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Genera la incidencia de configuración que se pasa como parámetro</wsdl:documentation>
      <wsdl:input message="tns:GeneraIncidenciaConfiguracionSoapIn" />
      <wsdl:output message="tns:GeneraIncidenciaConfiguracionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIdEsquema">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retorna el identificador del esquema de base de datos utilizado en la conexion</wsdl:documentation>
      <wsdl:input message="tns:GetIdEsquemaSoapIn" />
      <wsdl:output message="tns:GetIdEsquemaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiciosCD40Soap" type="tns:ServiciosCD40Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Commit">
      <soap:operation soapAction="http://CD40.es/Commit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Rollback">
      <soap:operation soapAction="http://CD40.es/Rollback" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataSetSelectSQL">
      <soap:operation soapAction="http://CD40.es/DataSetSelectSQL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListSelectSQL">
      <soap:operation soapAction="http://CD40.es/ListSelectSQL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertSQL">
      <soap:operation soapAction="http://CD40.es/InsertSQL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSQL">
      <soap:operation soapAction="http://CD40.es/UpdateSQL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSQL">
      <soap:operation soapAction="http://CD40.es/DeleteSQL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeneraDatosControlBackup">
      <soap:operation soapAction="http://CD40.es/GeneraDatosControlBackup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarDatosControlBackup">
      <soap:operation soapAction="http://CD40.es/RecuperarDatosControlBackup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeneraIncidenciaConfiguracion">
      <soap:operation soapAction="http://CD40.es/GeneraIncidenciaConfiguracion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIdEsquema">
      <soap:operation soapAction="http://CD40.es/GetIdEsquema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiciosCD40Soap12" type="tns:ServiciosCD40Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Commit">
      <soap12:operation soapAction="http://CD40.es/Commit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Rollback">
      <soap12:operation soapAction="http://CD40.es/Rollback" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataSetSelectSQL">
      <soap12:operation soapAction="http://CD40.es/DataSetSelectSQL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListSelectSQL">
      <soap12:operation soapAction="http://CD40.es/ListSelectSQL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertSQL">
      <soap12:operation soapAction="http://CD40.es/InsertSQL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSQL">
      <soap12:operation soapAction="http://CD40.es/UpdateSQL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSQL">
      <soap12:operation soapAction="http://CD40.es/DeleteSQL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeneraDatosControlBackup">
      <soap12:operation soapAction="http://CD40.es/GeneraDatosControlBackup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarDatosControlBackup">
      <soap12:operation soapAction="http://CD40.es/RecuperarDatosControlBackup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeneraIncidenciaConfiguracion">
      <soap12:operation soapAction="http://CD40.es/GeneraIncidenciaConfiguracion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIdEsquema">
      <soap12:operation soapAction="http://CD40.es/GetIdEsquema" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiciosCD40">
    <wsdl:port name="ServiciosCD40Soap" binding="tns:ServiciosCD40Soap">
      <soap:address location="http://localhost:63024/Servicios/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiciosCD40Soap12" binding="tns:ServiciosCD40Soap12">
      <soap12:address location="http://localhost:63024/Servicios/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>